body {
    font-size: 1.9em;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    max-width: 300px;
    margin: 50px auto;
}

.footer {
    font-size: 0.8em;
}

.avatar img {
    border-radius: 0%;
}

.content {
    /* max-width: 800px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.content article {
    max-width: 730px;
}

.content figure figcaption p {
    text-align: center;
}

.content article img {
    box-shadow: 2px 2px 5px #666;
}

.content article p {
    text-align: left;
    text-justify: none;
    /* margin-bottom: -10px; */
}

.content article p + p {
    margin: 0 0 0.6em;
}
